

@import '~assets/css/flexComp.scss';
@import '~assets/css/public.scss';
$message_theme_color: #f8f8f8 !default;
$message_header_title_color: #181818 !default;
$message_header_info_color: #838383 !default;
$message_header_default_color: #454545 !default;